<header class="main-header">
  <nav class="main-header-nav">
    <ul class="main-header-list">
      <li class="main-header-list-item">
        <a href="/">Home</a>
      </li>
      <li class="main-header-list-item">
        <a href="/users">Users</a>
      </li>
    </ul>
  </nav>
</header>
